{% extends 'home/viewlist.html' %}

{% load static %}

{% block viewlist %}
        <div class="row mx-auto mt-5 justify-content-center">
            <form class="form-inline" action="{% url 'filter_contacts' %}" method="get">
                <input name="filter" class="form-control" type="search" placeholder="Search by name..." aria-label="Search">
            </form>
            <form class="form-inline" action="{% url 'contacts' %}" method="get">
                <a href="{% url 'contacts' %}" class="btn btn-light">clear</a>
            </form>
        </div>
    <div class="row mx-auto mt-5 justify-content-center">
        <form class="form-inline">
            <a class="btn btn-info" href="{% url 'create_contact' %}" role="button">Create contact</a>
        </form>
    </div>
    <div class="row mx-auto mt-5 justify-content-center">
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;
                    </button>
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row mx-auto mt-5 justify-content-center">
        {% if contacts_list %}
            <ul class="list-group list-group-flush w-50">
                {% for contact in contacts_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="btn btn-light" href="{% url 'contact_detail' contact.id %}"
                           role="button">{{ contact.name }} {{ contact.lastname }}</a>
                        <a href="{% url 'toggle_active' contact.id %}">
                            {% if contact.is_active %}
                                <span class="badge badge-info badge-pill">active</span>
                            {% else %}
                                <span class="badge badge-danger badge-pill">archived</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No contacts are available</p>
        {% endif %}
    </div>
{% endblock %}

