{% extends 'index/index.html' %}

{% block content %}
    <div class="row mt-4 mb-5">
        <div class="col-md-4 offset-md-4">
            <h1>Welcome to swissERP</h1>
        </div>
        <div class="col-md-4">
            {{ request.user }}
            <a class="btn btn-outline-secondary ml-5" href="{% url 'logout' %}" role="button">Log out</a>

        </div>
        <div class="row col-md-8 offset-md-2 mt-4 mb-5">
            <a class="btn btn-outline-secondary ml-5" href="{% url 'contacts' %}" role="button">Contacts</a>
            <a class="btn btn-outline-secondary ml-5" href="{% url 'products' %}" role="button">Products</a>
            <a class="btn btn-outline-secondary ml-5" href="{% url 'sales' %}" role="button">Sales</a>
        </div>
{% endblock %}