{% extends 'home/viewlist.html' %}

{% load static %}

{% block viewlist %}
    <div class="row mx-auto mt-5 justify-content-center">
        <form class="form-inline" action="{% url 'filter_products' %}" method="get">
            <input name="filter" class="form-control" type="search" placeholder="Search..." aria-label="Search">
            <a href="{% url 'products' %}" class="btn btn-light">clear</a>
        </form>
    </div>
    <div class="row mx-auto mt-5 justify-content-end w-50">
        <form class="form-inline" style="display: block;">
            <a class="btn btn-info" href="{% url 'create-pass' %}" role="button">Create pass</a>
            <a class="btn btn-info" href="{% url 'create-subscription' %}" role="button">Create subscription</a>
        </form>
    </div>
    <div class="row mx-auto mt-5 justify-content-center">
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;
                    </button>
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
    </div>

    <div class="row mx-auto mt-5 justify-content-end w-50">
        <form class="form-inline" action="{% url 'filter_products' %}" method="get">
            <button type="submit" class="btn btn-outline-secondary btn-sm" name="all">All</button>
            <button type="submit" class="btn btn-outline-info btn-sm" name="pass">Pass</button>
            <button type="submit" class="btn btn-outline-warning btn-sm" name="sub">Subscription</button>
        </form>
    </div>

    <div class="row mx-auto mt-5 justify-content-center">
        {% if products_list %}
            <ul class="list-group list-group-flush w-50">
                {% for product in products_list %}
                    <li class="list-group-item d-flex justify-content-around align-items-center">
                        {% if product.unitpass %}
                            <a class="btn btn-light" href="{% url 'edit-pass' product.id %}"
                               role="button">{{ product.name }}
                                <span class="badge badge-primary badge-pill">{{ product.unitpass.remaining_classes }}</span>
                            </a>
                        {% else %}
                            <a class="btn btn-light" href="{% url 'edit-sub' product.id %}"
                               role="button">{{ product.name }}
                                <span class="badge badge-secondary badge-pill">{{ product.subscription.classes_by_month }}</span>
                            </a>
                        {% endif %}

                        <span>{{ product.student }}</span>
                        {% if product.unitpass %}
                            <span>{{ product.unitpass.date_of_buy }}</span>
                        {% else %}
                            <span>{{ product.subscription.date_of_subscription }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No products are available</p>
        {% endif %}


    </div>
{% endblock %}

