{% extends 'home/viewlist.html' %}

{% load static %}

{% block viewlist %}
    <div class="row mx-auto mt-5 justify-content-center">
        <form class="form-inline" action="{% url 'filter_products' %}" method="get">
            <input name="filter" class="form-control" type="search" placeholder="Search..." aria-label="Search">
            <a href="{% url 'products' %}" class="btn btn-light">clear</a>
        </form>
    </div>
    <div class="row mx-auto mt-5 justify-content-center w-50">
        <form class="form-inline" style="display: block;">
            <a class="btn btn-info" href="{% url 'create-pass' %}" role="button">Create pass</a>
            <a class="btn btn-info" href="{% url 'create-subscription' %}" role="button">Create subscription</a>
        </form>
    </div>
    <div class="row mx-auto mt-5 justify-content-center">
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;
                    </button>
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row mx-auto mt-5 mb-5 justify-content-center">
        {% if products_list %}
            <div class="card-deck" style="width: 80%">
                {% for product in products_list %}
                    <div class="card text-center mt-3" style="min-width: 30%; max-width: 30%">
                        <div class="card-body">
                            <a href="{% url 'edit-product' product.id %}">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </a>
                            <p class="badge badge-success">CHF {{ product.price|floatformat:2 }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated : {{ product.updated_at }}</small>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"
                             style="margin: auto">
                            <form action="{% url 'delete-product' product.id %}" method="post"
                                  onsubmit="return confirm('Do you really want to delete *{{ product.name }}* from DB ?');">
                                {% csrf_token %}
                                <button class="btn btn-danger mr-2" style="padding: unset; font-size: 1.4vh;">delete
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No products are available.</p>
        {% endif %}
    </div>
{% endblock %}

