{% extends 'index/index.html' %}

{% block content %}
    <div class="row mx-auto mt-5">
        {% if contacts_list %}
            <ul class="list-group w-100">
                {% for contact in contacts_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <button type="button" class="btn btn-secondary btn-sm">{{ contact.name }}</button>
                        <span class="badge badge-info badge-pill">active</span>

                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No contacts are available.</p>
        {% endif %}
    </div>
{% endblock %}

