{% extends 'contacts/contacts_formview.html' %}

{% block other_infos %}
    <div class="row mx-auto mt-5 justify-content-center" style="width: 58rem;">
        <div class="col-md-2">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Sales
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
{% endblock %}
