{% extends 'contacts/contacts_formview.html' %}

{% block other_infos %}
    <div class="row mx-auto mt-5 justify-content-center" style="width: 58rem;">
        <div class="col-md-2 mb-2">
            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#sales"
                    aria-expanded="false" aria-controls="collapseExample">
                Sales
            </button>
        </div>
        <div class="col-md-2 mb-2">
            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#account"
                    aria-expanded="false" aria-controls="collapseExample">
                Account
            </button>
        </div>
        <div class="col-md-2 mb-2">
            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#other"
                    aria-expanded="false" aria-controls="collapseExample">
                Other infos
            </button>
        </div>
    </div>
    <div class="row mx-auto mt-5 justify-content-center">
        <div class="collapse" id="sales">
            <div class="card card-body">
                Sales
            </div>
        </div>
        <div class="collapse" id="account">
            <div class="card card-body">
                Account
            </div>
        </div>
        <div class="collapse" id="other">
            <div class="card card-body">
                Other
            </div>
        </div>
    </div>
{% endblock %}
