<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ order.name }}</title>
</head>
<body>
<div class="container">
    <div class="row">
        {{ user.first_name }} {{ user.last_name }}
    </div>
    <div class="row">
        {{ user.street }}
    </div>
        <div class="row">
        {{ user.zip }} {{ user.city }}
    </div>
    <div class="row">
        {{ user.email }}
    </div>
        <div class="row">
        {{ user.telephone }}
    </div>
</div>
</div>


</body>
</html>