{% extends 'viewlist/viewlist.html' %}

{% load verbose_names %}

{% block viewlist %}
    {#    <div class="row mx-auto mt-5 justify-content-around" style="width: 80%">#}
    {#        {% if previous %}#}
    {#            <a href="{% url 'contact_detail' previous.id %}" style="color: inherit">#}
    {#                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
    {#                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">#}
    {#                    <path fill-rule="evenodd"#}
    {#                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>#}
    {#                </svg>#}
    {#            </a>#}
    {#        {% endif %}#}
    {#        {% if next %}#}
    {#            <a href="{% url 'contact_detail' next.id %}" style="color: inherit">#}
    {#                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
    {#                     class="bi bi-arrow-right-circle" viewBox="0 0 16 16">#}
    {#                    <path fill-rule="evenodd"#}
    {#                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>#}
    {#                </svg>#}
    {#            </a>#}
    {#        {% endif %}#}
    {#    </div>#}
    <div class="row mx-auto mt-5 justify-content-center">
        <div class="card" style="width: 58rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="card-title">{{ saleorder.partner_id.name }} {{ saleorder.partner_id.lastname }} </h5>
                    </div>
                    <div class="col-md-2" style="display: inherit">
                        <a class="btn btn-light mr-2" href="{% url 'edit_sale' saleorder.pk %}"
                           role="button">Edit</a>
                        <form action="{% url 'delete_sale' saleorder.id %}" method="post"
                              onsubmit="return confirm('Do you really want to delete *{{ saleorder.name }}* from DB ?');">
                            {% csrf_token %}
                            <button class="btn btn-light mr-2">Delete</button>
                        </form>
                    </div>
                </div>
                <h6 class="card-subtitle mb-2 text-muted " data-toggle="tooltip" data-placement="left"
                    title="{% get_verbose_field_name saleorder "validity_date" %}">{{ saleorder.validity_date }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Total: {{ saleorder.total|floatformat:2 }} CHF</h6>
            </div>
        </div>
    </div>
    <div class="row mx-auto mt-5 justify-content-center">
        <a class="btn btn-info" href="{% url 'edit_sale' saleorder.pk %}" role="button">Add products</a>
    </div>
    <div class="row mx-auto mt-5 justify-content-center">
        <table class="table table-hover w-50" style="text-align: center">
            <thead>
            <tr>
                <th scope="col">Products</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for sol in saleorder.saleorderline_set.all %}
                <tr>
                    <td>{{ sol.product_id.name }}</td>
                    <td>{{ sol.product_id.price|floatformat:2 }}</td>
                    <td>{{ sol.quantity }}</td>
                    <td>{{ sol.sol_total|floatformat:2 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
