{% extends 'viewlist/viewlist.html' %}

{% block viewlist %}
    {#    <div class="row mx-auto mt-5 justify-content-around" style="width: 80%">#}
    {#        {% if previous %}#}
    {#            <a href="{% url 'contact_detail' previous.id %}" style="color: inherit">#}
    {#                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
    {#                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">#}
    {#                    <path fill-rule="evenodd"#}
    {#                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>#}
    {#                </svg>#}
    {#            </a>#}
    {#        {% endif %}#}
    {#        {% if next %}#}
    {#            <a href="{% url 'contact_detail' next.id %}" style="color: inherit">#}
    {#                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
    {#                     class="bi bi-arrow-right-circle" viewBox="0 0 16 16">#}
    {#                    <path fill-rule="evenodd"#}
    {#                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>#}
    {#                </svg>#}
    {#            </a>#}
    {#        {% endif %}#}
    {#    </div>#}
    <div class="row mx-auto mt-5 justify-content-center">
        <div class="card" style="width: 58rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="card-title">{{ saleorder.partner_id.name }} </h5>
                    </div>
                    <div class="col-md-2" style="display: inherit">
                        <a class="btn btn-light mr-2" href="{% url 'edit_sale' saleorder.pk %}"
                           role="button">Edit</a>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <button class="btn btn-light mr-2">Delete</button>
                        </form>
                    </div>
                </div>
                <h6 class="card-subtitle mb-2 text-muted ">{{ saleorder.validity_date }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ saleorder.so_total }}</h6>
            </div>
        </div>
    </div>
    <div class="row mx-auto mt-5 justify-content-center">
        <div>
            {% if not saleorder.saleorderline_set.all %}
                <a class="btn btn-light" href="{% url 'edit_sale' saleorder.pk %}" role="button">Add products</a>
            {% endif %}
            {% for sol in saleorder.saleorderline_set.all %}
               {{ sol.product_id.name }}
               {{ sol.quantity }}
               {{ sol.sol_total }}
            {% endfor %}
        </div>
    </div>

{% endblock %}
