{% extends 'viewlist/viewlist.html' %}

{% load static %}

{% block viewlist %}
    <div class="row mx-auto mt-5 justify-content-center">
        {#        <form class="form-inline">#}
        {#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
        {#        </form>#}
        <div class="row mx-auto mt-5 justify-content-center">
            <form class="form-inline">
                <a class="btn btn-info" href="#" role="button">Create products</a>
            </form>
        </div>
    </div>
    <div class="row mx-auto mt-5 justify-content-center">
        {% if products_list %}
            <div class="card-deck" style="width: 60%">
                {% for product in products_list %}
                    <div class="card text-center mt-3" style="min-width: 30%; max-width: 30%">
                        <a href="#">
                            <img src="{% static product.picture %}" class="card-img-top" alt="..."
                                 style="width: 100%; height: 10vw;
                                 object-fit: cover;">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="badge badge-success">CHF {{ product.price }}</p>
                            <p class="card-text">{{ product.description }}</p>
{#                            <p class="card-text">{{ product.categ_id.name }}</p>#}
{#                            {% for tax in product.tax_ids.all %}#}
{#                                <p class="card-text">{{ tax.name }}</p>#}
{#                            {% endfor %}#}
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated : {{ product.updated_at }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No products are available.</p>
        {% endif %}
    </div>
{% endblock %}

